<div class="container-fluid yellow-bg">
  <div class="container text-left pb-5 pt-3">
    <footer class="pt-4">
      <div class="row">
        <div class="col-12 col-md">
          <div class="pl-1 pb-1 d-inline-block text-dark mb-4 small">© Privacy Review 2021</div>
        </div>
        <div class="col-6 col-md">
          <h5>Navigation</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-dark" href="#" data-toggle="modal" data-target="#whatAreTrackersModal">About</a></li>
            <li><a class="text-dark" href="https://lockdownhq.com">Block Trackers</a></li>
            <li><a class="text-dark" href="#request">Request Review</a></li>
            <li><a class="text-dark" href="#" data-toggle="modal" data-target="#ratingCriteriaModal">Rating System</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Legal</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-dark" href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Other</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-dark" href="mailto:hi@{{DOMAIN}}">Email</a></li>
            <li><a class="text-dark" href="https://twitter.com/lockdown_hq" target="_blank">Twitter</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>