{{> header title="FAQ" }}
  
<body class="text-center" style="background-color:white;">
  
  {{> nav }}
 
  <div class="container">
    
      <div class="row">
        <div class="col-12">
          <h4 class="text-center serif mb-4 pb-2 mt-0 pt-5"><strong>Frequently Asked Questions</strong></h4>
        </div>
      </div>
    
      <div class="row">
      
        <div class="col-lg-10 offset-lg-1 text-left">
      
          <ul class="list-unstyled pb-0 pt-4">
              <li class="pt-1">
                <a href="#anchor1">
                  &centerdot; Why is Lockdown the ideal privacy and security product?
                </a><br/>
                <a href="#anchor1b">
                  &centerdot; Why do I see Facebook being blocked, even though I don't have Facebook installed?
                </a><br/>
                <a href="#anchor2">
                  &centerdot; What do I do if Lockdown stops blocking trackers, or if it turns itself off?
                </a><br/>
                <a href="#anchor3">
                  &centerdot; I'm having issues with Facebook Messenger or Whatsapp. How do I fix this?
                </a><br/>
                <a href="#anchor4">
                  &centerdot; I forgot my password, how do I reset it?
                </a><br/>
                <a href="#anchor5">
                  &centerdot; I typed the wrong email during signup. How do I change it?
                </a><br/>
                <a href="#anchor6">
                  &centerdot; On Lockdown Mac, during setup, I'm seeing "NEIKEv2Provider wants to access key "privateKey" in your keychain". What do I do?
                </a><br/>
                <a href="#anchor7">
                  &centerdot; I'm not receiving the confirmation email.
                </a><br/>
                <a href="#anchor8">
                  &centerdot; If I subscribe to the Secure Tunnel, can I share this with my family?
                </a><br/>
                <a href="#anchor9">
                  &centerdot; How do I uninstall Lockdown Mac?
                </a><br/>
                <a href="#anchor10">
                  &centerdot; I have a question not listed here.
                </a>
              </li>
          </ul>
          
          <div class="pb-3 pt-5" id="anchor1">
            <h4 class="mt-3 pb-0 mb-2">
              Why is Lockdown the ideal privacy and security product?
            </h4>
            <p>
              Here's what uniquely makes Lockdown better than any privacy and security product you've ever used:
              <ol>
                <li>
                  Lockdown is <strong>open source</strong>. This means that anyone can see exactly what it's doing, and more importantly what it's *not* doing. All the major security and privacy products (even "name brand" security products, and especially products that you see a bunch of ads for) are closed source, which means what they're doing is totally secret. As a result, they're able to secretly sell your data to the highest bidder. With closed source products, you could end up paying for a security product that annihilates your privacy, and there's no way for them to prove otherwise. Here's just a few examples:
                    <ul>
                      <li>
                        <a href="https://www.theverge.com/2020/1/27/21083809/avast-avg-jumpshot-antivirus-data-tracking-all-clicks" target="_blank">Name brand antivirus company secretly tracking everything their users are doing online</a>
                      </li>
                      <li>
                        <a href="https://techcrunch.com/2019/02/21/facebook-removes-onavo/" target="_blank">Popular VPN apps revealed to be spyware created by Facebook</a>
                      </li>
                      <li>
                        <a href="https://www.computerweekly.com/news/252466203/Top-VPNs-secretly-owned-by-Chinese-firms" target="_blank">Security products secretly owned by Chinese firms, here the government controls much of the technology sector
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="mt-2">
                  Unlike many major privacy product companies, Lockdown <strong>does not use invasive ad tracking</strong>.
                  <br/>
                  Have you ever seen an ad for a "name brand" security product? Isn't it ironic that supposed privacy are spending big bucks on invasive tracking/advertisement networks that they're supposed to be protecting users from? What does this say about their true attitude toward tracking?
                  <br/>
                  Lockdown does not buy Facebook ads, or ads of any kind, because we understand that that's the privacy-invading system we're trying to dismantle. We rely mostly on word of mouth, the quality of our product, and unsponsored journalism to spread our product to users. Note that for many so-called product "reviews" out there (even for respected places like PC Magazine), they're actually using sponsored links in order to make money off of their reviews - distorting their incentive to tell the truth. Lockdown never does this.
                  <br/>
                </li>
                <li class="mt-2">
                  Lockdown is the world's first <strong>openly operated</strong> product, meaning that it's the most transparent a product can possibly be: everything from company ownership and location, to full third party audits, to proving its Privacy Policy.
                  <br/>
                  We created the <a href="https://openlyoperated.org" target="_blank">Openly Operated</a> transparency standard because we saw that companies were basically outright lying in their Privacy Policies. Of course, many companies are closed source or headquartered offshore, so they're usually not caught. However, even with companies that were actually caught, there would rarely be any kind of penalties. Openly Operated is a way to force companies to provide *proof* of their transparency, rather than just asserting them. You can read about why we launched Openly Operated <a href="https://openlyoperated.org/blog" target="_blank">here</a>, and you can see Lockdown's full transparency report <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">here</a>.
                  <br/>
                </li>
              </ol>
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor1b">
            <h4 class="mt-3 pb-0 mb-2">
              Why do I see Facebook being blocked, even though I don't have Facebook installed?
            </h4>
            <p>
              Facebook's trackers are embedded in many (if not most) popular App Store apps. This gives Facebook information about who you are, and what you do in apps, in order for Facebook to serve you advertisements and other targeted content. So even if you don't have Facebook itself installed, their trackers still come bundled with many popular apps. Lockdown blocks these tracking attempts.
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor2">
            <h4 class="mt-3 pb-0 mb-2">
              What do I do if Lockdown stops blocking trackers, or if it turns itself off?
            </h4>
            <p>
              This is usually caused by either an issue with your settings, or some conflicting app/software. Here's what to do:
              <ol>
                <li>
                  Ensure that Background App Refresh is enabled in Settings for Lockdown. Lockdown needs this in order to refresh itself and stay active. See how to turn this on in Apple's documentation here: <a href="https://support.apple.com/en-us/HT202070">https://support.apple.com/en-us/HT202070</a>.
                </li>
                <li>
                  Ensure that Low Battery Mode is set to off. Sometimes iPhones and iPads become overly aggressive in stopping background apps like Lockdown when this mode is enabled. See how to get to this setting in Apple's documentation here: <a href="https://support.apple.com/en-us/HT205234">https://support.apple.com/en-us/HT205234</a>.
                </li>
                <li>
                  Ensure that no other security products or VPNs are interfering with Lockdown. Lockdown is incompatible with many third-party VPNs and/or security products. Here's how to turn those other conflicting apps off:
                  <ol>
                    <li>Open Settings app</li>
                    <li>Tap VPN</li>
                    <li>If there are any entries that are NOT "Lockdown VPN" or "Lockdown Configuration", tap the "i" next it</li>
                    <li>Turn "Connect On Demand" OFF for those entries (again, entries that are NOT Lockdown)</li>
                    <li>Open Lockdown again, and activate Firewall and Secure Tunnel</li>
                  </ol>
                </li>
              </ol>
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor3">
            <h4 class="mt-3 pb-0 mb-2">
              I'm seeing an error with logging into Facebook Messenger or WhatsApp. How do I fix this?
            </h4>
            <p>
              Facebook tries very hard to ensure you're in their tracking system, both when you're in their app and outside of their apps. Lockdown blocks these tracking attempts. Here's how to work around issues that you might see with Facebook's apps, including Messenger or WhatsApp.
              <br/>
              Try setting both "Facebook Apps (Beta)" and "Facebook Trackers" to "not blocked" in the Block List. Be sure to tap "SAVE" and let the Firewall re-activate before trying again. Then, try to log into Facebook Messenger. Once you're logged into Messenger, you should be able to set 'Facebook Trackers' to "blocked" again. You'll need to always keep "Facebook Apps (beta)" set to "not blocked".
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor4">
            <h4 class="mt-3 pb-0 mb-2">
              I forgot my password, how do I reset it?
            </h4>
            <p>
              Here's how to reset your password:
              <ol>
                <li>
                  Open Lockdown on iPhone or iPad
                </li>
                <li>
                  Tap Menu on top left
                </li>
                <li>
                  Sign Out
                </li>
                <li>
                  Tap Menu on top left
                </li>
                <li>
                  Sign In
                </li>
                <li>
                  Forgot Password
                </li>
                <li>
                  Open the Reset Password email on your iPhone or iPad. This could be in your spam box or take some time to arrive.
                </li>
                <li>
                  Reset the password
                </li>
              </ol>
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor5">
            <h4 class="mt-3 pb-0 mb-2">
              I typed the wrong email during signup. How do I change it?
            </h4>
            <p>
              Open Lockdown on iPhone or iPad. Tap the menu button on the top left, then click "Confirm Email", then click "Sign Out". Then tap the menu button again, and tap "Sign Up" to sign up with the correct email address.
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor6">
            <h4 class="mt-3 pb-0 mb-2">
              On Lockdown Mac, during setup, I'm seeing "NEIKEv2Provider wants to access key "privateKey" in your keychain". What do I do?
            </h4>
            <p>
              That dialog is part of the Lockdown Mac setup process. Enter your system password (the password you use to log into your computer) and click "Always Allow". This allows the setup to finish. You can then click the Lockdown icon on the menubar to see that Lockdown is activated.
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor7">
            <h4 class="mt-3 pb-0 mb-2">
              I'm not receiving the confirmation email.
            </h4>
            <p>
              First, make sure your email is typed correctly. Open Lockdown, tap the menu on the top left, and ensure that the email address matches your actual email address. If not, then tap the Menu button, tap "Confirm Email", and tap "Sign Out".
              <br/>
              Second, we had some reports of people's confirmation emails get stuck in spam boxes, and also some reports that it took extra time (a day or two) for it to arrive in their inbox. If you're using a desktop email client, be sure to check the spam box in your web interface too - sometimes users find that there is a separate spam filter on the online interface.
              <br/>
              As a last resort, try signing up using a different email address - we're finding that for unknown reasons, some email providers are blocking our emails completely. There's nothing we can really do in that case. To do this, open Lockdown, tap the Menu button on the top left, tap "Confirm Email" and then "Sign Out".
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor8">
            <h4 class="mt-3 pb-0 mb-2">
              If I subscribe to the Secure Tunnel, can I share this with my family?
            </h4>
            <p>
              Yes. If your devices are on the same Apple ID and/or in <a href="https://support.apple.com/en-us/HT201088" target="_blank">Family Sharing</a>, they can all use the same subscription. To allow your Macs/Macbooks to access Secure Tunnel, be sure to choose a Pro plan when subscribing.
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor9">
            <h4 class="mt-3 pb-0 mb-2">
              How do I uninstall Lockdown Mac?
            </h4>
            <p>
              Here's how to completely uninstall Lockdown on your Mac.
              <ol>
                <li>
                  Click the Lockdown button in the top right menubar on your Mac to open the popup (it's a picture of a lock)
                </li>
                <li>
                  Click the menu (three stripes) button
                </li>
                <li>
                  Click Quit. It will ask if you want to deactivate. Click yes.
                </li>
                <li>
                  Click your Wifi icon in the menubar.
                </li>
                <li>
                  Click "Open Network Preferences"
                </li>
                <li>
                  On the left, select "Lockdown Configuration", then click the "-" minus icon below it.
                </li>
                <li>
                  On the left, select "Lockdown VPN", then click the "-" minus icon below it.
                </li>
                <li>
                  Click "Apply"
                </li>
                <li>
                  Open your Applications folder.
                </li>
                <li>
                  Drag "Lockdown" into the Trash
                </li>
              </ol>
            </p>
          </div>
          
          <div class="pb-3 pt-5" id="anchor9">
            <h4 class="mt-3 pb-0 mb-2">
              I have a question not listed here.
            </h4>
            <p>
              Please open Lockdown, tap the menu button, then tap "Email Support" and send us your question - that's our preferred method. If you're not able to do that, then email us at team@lockdownhq.com. We're happy to help, and we'll get back to you as soon as possible. Please note that we are experiencing high traffic volume recently and it may take 1-2 business days for us to respond -- thanks for your patience.
            </p>
          </div>
        
        </div>
      
      </div>
    
  </div>
  
  {{> footer }}
  
</body>

{{> bootstrapjs}}