{{> header title="Privacy Policy" }}

<body class="text-center" style="background-color: white;">
  
  {{> nav }}

  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12">
        <h4 class="serif mb-2 pb-0 mt-1 pt-1"><strong>Lockdown Privacy Policy</strong></h4>
        <p class="serif pb-3 mb-0">Last Updated August 14th, 2019</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-0 pb-0 pt-4 text-left" id="toc" name="toc">
        Lockdown has a privacy policy for its firewall and a privacy policy for its VPN, depending on which product(s) you're using. Unlike other Privacy Policies, Lockdown's Privacy Policies are <i>proven</i>, rather than blind-faith assertions.
        <ul class="mt-3 text-center">
          <li class="list-unstyled h5 mt-3"><a href="#firewall">Lockdown Firewall Privacy Policy</a></li>
          <li class="list-unstyled h5 mt-2 mb-3"><a href="#vpn">Lockdown VPN Privacy Policy</a></li>
        </ul>
        <p class="mb-0">If you have any questions or concerns regarding our Privacy Policy, please contact us at <a href="mailto:terms@{{DOMAIN}}" target="_blank">team@{{DOMAIN}}</a> and we will respond as soon as possible.</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-0 pb-0 pt-5 mt-4 text-left" id="firewall" name="firewall">
        <h4 class="text-center"><strong>Lockdown Firewall Privacy Policy</strong></h4>
        <p class="mt-4">Everything Lockdown Firewall does stays on your device, and what you see is literally what you get, and nothing more or less, because that's the way it should be.</p>
        <p class="mt-4">Longer Version: Everything Lockdown Firewall does stays on your phone, so no data is transmitted to any of our servers. This can be confirmed by checking the <a href="https://github.com/confirmedcode/Lockdown-iOS">source code</a>, which is 100% open and public for anyone to examine. Lockdown Firewall doesn't use any type of third party analytics, trackers, or APIs, so there's no risk of your data leaking to third parties. This means there's no Google Analytics, no Facebook Pixel, no Mixpanel, Fabric, Mailchimp, etc &mdash; nada.</p>
        <h5 class="mt-4 mb-3">Information We Collect</h4>
        <p class="mb-0">Lockdown Firewall collects nothing. It all stays on your device.</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-5 pb-5 mt-4 pt-5 text-left" id="vpn" name="vpn">
        <h4 class="text-center"><strong>Lockdown VPN Privacy Policy</strong></h4>
        <p class="mt-4">Lockdown VPN is powered by our Confirmed VPN, the Openly Operated and fully audited VPN that proves its no-log, no-tracking policies.</p>
        <p>Confirmed VPN is certified as Openly Operated, so it is able to provide proof of the privacy claims in this Privacy Policy by using references from its <a href="https://openlyoperated.org/report/confirmedvpn" target="_blank">Audit Kit</a>. Learn more about the <a href="https://openlyoperated.org" target="_blank">Openly Operated Certification</a>, and read Confirmed VPN's full <a href="https://confirmedvpn.com/privacy">Privacy Policy<a>.</p>
      </div>
      
    </div>
    
  </div>
  
  {{> footer }}
  
</body>

{{> bootstrapjs}}