{{> header title="Privacy Policy" }}

<body class="text-center" style="background-color: white;">
  
  {{> nav }}

  <div class="container">
    
    <div class="row mt-5">
      
      <div class="col-12">
        <h4 class="serif mb-2 pb-0 mt-1 pt-1"><strong>Privacy Policy</strong></h4>
        <p class="serif pb-3 mb-0">Updated May 22nd, 2020</p>
      </div>
      
      <div class="col-lg-10 offset-lg-1 mb-0 pb-0 pt-4 text-left mb-5">
        <p class="mb-0 mb-0">
          The Privacy Review site does not collect any data about you. It doesn't use cookies or tracking technologies. It's a simple site, just like the good old days before everyone started going tracker-crazy.</br></br>
          Since no data is collected about you, there is also no data to delete.</br></br>
          If you have any questions regarding our Privacy Policy, please contact us at <a href="mailto:hi@{{DOMAIN}}" target="_blank">hi@{{DOMAIN}}</a>.
        </p>
      </div>
      
    </div>
    
    <div class="row mt-5 mb-5">
      <div class="col text-center mb-5">
        <div class="mx-auto text-center pt-0">
          <a href="/" class="btn zoom btn-primary font-weight-bold mx-1 mb-2" style="width:180px;">Back To Reviews</a>
        </div>
      </div>    
    </div>
    
  </div>
  
  {{> footer }}
  
</body>

{{> bootstrapjs}}